<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Append>true</Append>
        <File>/var/log/keeper/default.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/var/log/keeper/default.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="net.sf" level="ERROR"/>
    <logger name="org.apache.catalina" level="WARN"/>
    <logger name="javapns.notification" level="INFO"/>
    <logger name="com.ibatis" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.mybatis" level="ERROR"/>
    <logger name="org.springframework.data.mongodb.core.MongoTemplate" level="DEBUG"/>
    <logger name="com.xiaoma" level="DEBUG"/>
    <logger name="com.xiaomaguanjia" level="DEBUG"/>
    <logger name="com.xiaomaguanjia.plan" level="INFO"/>
</configuration>